.not-found {
  &__desc {
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    row-gap: calc(var(--gap) * 2);
  }

  &__text {
    grid-column: span 3;
  }

  &__redirect-btn {
    text-decoration: none;
  }
}